Neural Machine Translation using word level language model and embeddings in keras

In [9]:
import pandas as pd
import numpy as np
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re
from sklearn.model_selection import train_test_split

In [10]:
lines = pd.read_table('fra.txt', names =['eng','fr'])

C:\Users\user\Anaconda3\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [11]:
lines.head()

     eng          fr
0    Go.        Va !
1   Run!     Cours !
2   Run!    Courez !
3   Wow!  Ça alors !
4  Fire!    Au feu !

In [13]:
lines.shape

(149861, 2)

In [14]:
lines = lines[0:10000]

In [15]:
lines.shape

(10000, 2)

In [16]:
lines.sample(10)

                   eng                                fr
750         Lie still.      Restez allongés, immobiles !
5503    It is no joke.          Ce n'est pas une blague.
2038      I have eyes.                    J'ai des yeux.
9161  Can you skip me?           Vous pouvez me lâcher ?
4282     You are good.                 Vous êtes bonnes.
5842    Take a chance.                         Essayez !
203          Back off!                          Reculez.
9586  He's a newcomer.            C'est un nouveau venu.
7996   Lunch is ready.                Le repas est prêt.
8129   She is talking.  Elle est en train de s'exprimer.

Data Cleanup

In [17]:
lines.eng = lines.eng.apply(lambda x :x.lower())
lines.fr = lines.fr.apply(lambda x :x.lower())

In [18]:
#길이를 50으로 맞추기
lines.eng = lines.eng.apply(lambda x : re.sub("'",'',x)).apply(lambda x : re.sub(",",'COMMA',x))
lines.fr = lines.fr.apply(lambda x : re.sub("'",'',x)).apply(lambda x : re.sub(",",'COMMA',x))

In [19]:
exclude = set(string.punctuation)
lines.eng = lines.eng.apply(lambda x : ''.join(ch for ch in x if ch not in exclude))
lines.fr = lines.fr.apply(lambda x : ''.join(ch for ch in x if ch not in exclude))

In [20]:
remove_digits = str.maketrans('','',digits)
lines.eng= lines.eng.apply(lambda x : x.translate(remove_digits))
lines.fr= lines.fr.apply(lambda x : x.translate(remove_digits))

In [21]:
lines.head()

    eng         fr
0    go        va
1   run     cours
2   run    courez
3   wow  ça alors
4  fire    au feu

In [22]:
lines.fr = lines.fr.apply(lambda x : 'START_' + x + '_END')

In [23]:
lines.head()

    eng                   fr
0    go        START_va _END
1   run     START_cours _END
2   run    START_courez _END
3   wow  START_ça alors _END
4  fire    START_au feu _END

In [28]:
all_eng_words = set()
for eng in lines.eng:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

            
all_french_words = set()
for fr in lines.fr:
    for word in fr.split():
        if word not in all_french_words:
            all_french_words.add(word)

In [29]:
len(all_eng_words), len(all_french_words)

(2177, 5766)

In [30]:
lenght_list = []
for i in lines.fr:
    lenght_list.append(len(i.split(' ')))
np.max(lenght_list)

10

In [31]:
lenght_list = []
for i in lines.eng:
    lenght_list.append(len(i.split(' ')))
np.max(lenght_list)

5

In [33]:
from keras.models import Model
from keras.layers import Input, Embedding, LSTM, Dense

In [ ]:
embedding_size = 50

enc_inputs = Input((eng_sen_max,))
enc_embed= Embedding(len(eng_words), embedding_size)(enc_inputs)

enc_lstm = LSTM(50, return_state= True)
enc_output, state_h, state_c = enc_lstm(enc_embed)
enc_state = [state_h, state_c]

In [ ]:
dec_inputs = Input((fra_sen_max,))
dec_embed = Embedding(len(fra_words), embedding_size)(dec_inputs)

dec_lstm = LSTM(50, return_sequences = True)
dec_outputs = dec_lstm(dec_embed, initial_state = enc_states)

dec_outputs =

In [ ]:
model = Model([enc_inputs, dec_inputs], dec_outputs)